*{/*Universal*/
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

img{/*ESTILO TAG IMAGEM*/
    height: 92px; /*altura*/
}

a{ /*TAG LINK/ANCORA*/
    text-decoration: none;/*tirou decoração do texto*/
    color: #1f1f1f;/*COR DO TEXTO*/
    font-size: 13px;/*tamanho da fonte/texto*/
    font-family: sans-serif;/*TIPO/FAMILIA DA FONTE*/
}

/*MAIN*/
.caixa-pesquisa{
    display: flex;
    width: 583px;/*largura*/
    padding: 10px 14px;/*espacamento interno*/
    align-items: center;/*alinhamento de itens*/
    gap: 13px;/*espaçamento entre elementos filhos*/
    border: 1px solid #dfe1e5;/**/
    border-radius: 100px;/**/
}

.caixa-icones{
    display: flex;
    align-items: center;/*alinhamento na vertical*/
    gap: 16px;/*espaçamento entre itens*/
}

.input-pesquisa{
    width: 100%;
    border: none;
    outline: none;
}

.icone-lupa{
    width: 20px;/*largura*/
    fill: #9aa0a6;/*preenchimento*/
}

.icone-teclado{
    width: 20px;/*largura*/
    height: 12px;/*altura*/
}

.icone-colorido{
    width: 24px;
}

/*RODAPE*/
FOOTER{
    background-color: #f2f2f2;
    letter-spacing: 1px;
    font-family: 14px,Arial,sans-serif;
    padding: 0px 20px;
}

.caixa-rodape{
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

.caixa-rodape-borda{
    border-bottom: 1px solid #dadce0;
}

.caixa-links{
    display: flex;
    gap: 30px;/*espacamento entre as linhas da div*/

}

header{/*cabeçlho*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding: 10px 14px;
}

.icone-produtos{
    width: 24px;
    fill: #444746;
}

.botao-login{/*classe botao-login*/
    background-color: #1a73e6;/*COR DO FUNDO*/
    color: white;/*cor do texto*/
    padding: 12px 9px;/*ESPACAMENTO INTERNO*/
    font-weight: 500;/*PESO DA FONTE*/
    border-radius: 40px;/*RAIO DA BORDA(CURVATURA)*/
}

