img{
    height: 92px; /*altura*/
}

a{
    text-decoration: none;
    color: #1f1f1f;
    font-size: 13px;
    font-family: sans-serif;
}

.icone-produtos{
    width: 24px;
    fill: #444746;
}

.botao-login{
    background-color: #1a73e6;
    color: white;
    padding: 12px 9px;
    border-radius: 40px;
}